## To install required packages use:
## python3 -m pip install -r requirements.txt

###### Requirements without Version Specifiers ######
numpy
scipy
cloudpickle
pandas
matplotlib
stable_baselines3
psutil

###### Requirements with Version Specifiers ######
torch>=2.4.1
gymnasium==0.29.1
tensorboard>=2.14.0
